
@font-face{
  font-family: 'neuehanskendrick-regular';
  src: url('../fonts/neuehanskendrick-regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'neuehanskendrick-regular';
}

.border-5 {
  border-width: 5px !important;
}

.round {
  border-radius: 5rem;
}
.square {
  border-radius: 0.25rem;
}

.small {
  font-size: 0.8rem;
}

.code {
  white-space: pre-wrap;
}
